.fixWidth{
  width: 170px;
}
.br-theme-bars-1to10 .br-widget{
  height: 10px !important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
  padding:4px !important;
}
.input label{
  /*display: none !important;*/
}
.br-theme-bars-1to10{
  width: 121px;
}
.submitButton{
  float: left;
}
.pull-right{
  float: left !important;
}
.submit{
 /* width:75px;*/
}
.fright{
  float: right;
}
.fleft{
  float: left;
}
#flashMessage{
  background-color: #ed412b;
  color: #fff;
  padding: 5px;
}
.wFirty{
  width: 50%;
}
.buttons{
  padding: 10px;
}
.mar10{
  margin-right: 10px;
}
.form{
  padding: 0 10px 10px 10px;
}
.symbol {
  display: inline-block;
  border-radius: 50%;
  border: 5px double white;
  width: 30px;
  height: 30px;
}

.symbol-empty {
  background-color: #ccc;
}

.symbol-filled {
  background-color: black;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src:url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.eot');
    src:url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
      url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.woff') format('woff'),
      url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
      url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
  }
